html,body {
	font-family: "Segoe UI", sans-serif;
	color: black;
	margin: 0;
	padding: 0;
	height: 100%;
}

.f {
	display: flex;
	align-items: center;
	width: 64.8vw;
}

.bar {
	background-color: #f5f7fb;
	height: 15.3vh;
	display: flex;
	align-items: center;
}

a.home {
	color: white;
	background-color: #393d45;
	text-align: center;
	text-decoration: none;
	line-height: 15.3vh;
	height: 15.3vh;
	width: 11.25vw;
	font-size: 30px;
	display: inline-block;
}

input[type="text"].search {
	background-color: #fcfafa;
	font-size: 32px;
	width: 40vw;
	height: 8.5vh;
	padding: 20px 24px;
	margin-left: 7.5vw;
	border: 1px solid #9299a6;
	border-radius: 20px;
	box-sizing: border-box;
	display: inline-block;
	outline: none;
}

input[type="submit"].search_icon {
	background: url("../img/search.png") no-repeat;
	width: 3.125vw;
	height: 3.125vw;
	background-size: 3.125vw 3.125vw;
	margin-left: 1.8vw;
	border: none;
	cursor: pointer;
}

input[type="button"].goCart_icon {
	background: url("../img/shopping-cart.png") no-repeat;
	width: 3.125vw;
	height: 3.125vw;
	background-size: 3.125vw 3.125vw;
	/* margin-left: 11.6vw; */
	border: none;
	cursor: pointer;
}

input[type="button"].login {
	width: 9.74vw;
	height: 6.3vh;
	margin-left: 3.6vw;
	font-size: 24px;
	color: white;
	background-color: #393d45;
}

input[type="button"].login:hover {
	background-color: black;
	cursor: pointer;
}

.col{
	/* 讓內容自適應高度 */
	height: 100%;
	display: flex;
	flex-flow: column;
}

.content {
	flex-grow: 1;
    width: 100%;
	/* 橫向排版 */
	display: flex;
}

.nav_bar {
	background-color: #f5f7fb;
	width: 11.25vw;
	display: inline-block;
	height: 100%;


	flex-direction: column;
    height: 100%; padding: 0;
}



.cover {
	width: 10.78vw;
	height: 14.06vw;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

}

.info {
	margin-left: 2.6vw;
	display: inline-block;
	margin-top: 20px;
	width: 32.2vw;
}

.price {
	font-size: 20px;
	font-weight: bold;
	color: #393d45;
	margin: 0;
	margin-bottom: 2vh;
}

.detail {
	font-size: 20px;
	color: #393d45;
	margin: 0;
	margin-bottom: 2vh;
}

.stock {
	font-size: 18px;
	color: #393d45;
	margin: 0;
	margin-left: 2.13vw;
	display: inline-block;
	vertical-align: bottom;
}

.article{
	/* margin-left: 10vw; */
	margin-bottom: 10vh;
	width: 61.7vw;
}

.content_title {
	font-size: 30px;
	font-weight: bold;
	margin:0;
	margin-top: 20vh;
}

.divider2 {
	background-color: #393d45;
	height: 2px;
	padding: 0;
	margin-top: 2vh;
}

.content_article{
	margin-top: 40px;
	font-size: 20px;
	line-height: 150%;
}


.title_text{
	font-size: 30px;
	color: #393d45;
	text-align: left;
	/* margin-left: 13.2vw; */
	margin-top: 10.5vh;
	margin-bottom: 0;
    font-weight: bold;
}

.divider {
	background-color: #393d45;
	width: 35.4vw;
	height: 1.2px;
	padding: 0;
	margin-top: 15.5px;
}

.search_num {
    color: #393d45;
    margin: 0;
    margin-top: 2vh;
    font-size: 24px;
}


 a.title {
	font-size: 24px;
	font-weight: bold;
	color: #393d45;
	margin: 0;
	margin-bottom: 2vh;
    text-decoration: none;
    display: block;
}

a.title:hover{
  text-decoration: underline;
}

.divider_long {
	background-color: #393d45;
    opacity: 18%;
	width: 68.75vw;
	height: 1.2px;
	padding: 0;
	margin-top: 5vh;
}

/* Page */
/* 
.page_container{

   text-align: center;
}
.pagination {
  display: inline-block;
  margin:9.8vh;
}

.pagination a {
  color: #393D45;
  font-size: 24px;
  padding: 8px 20px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #EB4242;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd ;} */


.book_content{
	height: 100%;
    margin-left: 12.63vw;
    /* 向右撐開內容 */
    /* width: 100%; */
}

.book {
	margin-top: 6.85vh;
	display: flex;
    width: 100%;
}

.delete_container{
    flex-grow: 1;
}

input[type="Submit"].delete{
    background: url("../img/close.png") no-repeat;
	width: 1.8vw;
	height: 1.8vw;
	background-size: 1.8vw 1.8vw;
	margin-right: 8.85vw;
	border: none;
	cursor: pointer;

    float:right;
}

select{
    width: 6vw;
    height: 4vh;
    color: #393d45;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: #707070 1px solid;
    border-radius: 12px;
    text-align-last:center; 
}
option{
    width: 8vw;
    height: 5.3vh;
    color: #393d45;
    text-align: center;
    font-size: 20px;
    text-align-last:center; 
    
}

.quantity_container{
    display: flex;
}

.selectq{
    display: inline-block;
    margin-left: 2.76vw;
    
}

.quantity_text{
    display: inline-block;
    font-size: 20px;
	color: #393d45;
	margin: 0;
	margin-bottom: 2vh;
}

.hint{
    font-size: 24px;
	color: #393d45;
	margin: 0;
	margin-bottom: 2vh;
    text-decoration: none;
    display: block;
}

input[type="text"].text_area
{
	/* background-color: #fcfafa; */
	font-size: 20px;
	width: 23.4vw;
	height: 7.68vh;
	padding: 10px 12px;

	border: 1px solid #707070;
	border-radius: 10px;
	box-sizing: border-box;
	display: inline-block;
	outline: none;

    margin-bottom: 2.13vh;
}

.total{
    margin-right: 7.34vw;
}

input[type='submit'].add_book {
    width: 12.8vw;
    height: 4.2vw;
    margin: 0;
    margin-bottom: 10.2vh;
    margin-top: 3.14vh;
 
	font-size: 20px;
	color: white;
	background-color: #eb4242;
    
	display: inline-block;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	box-shadow: 0px 2px 0px #757575;
}

input[type='submit'].add_book:active {
	position: relative;
	top: 1px;
	cursor: pointer;
	box-shadow: 0 1px 0 #757575;
}
